votes#show

<p>あと<%=  %>人 投票可能です。</p>

<%= form_for @vote do |f| %>
	<%= f.hidden_field :code %>
	<% @shops.each do |shop| %>
    	<label><%#= f.radio_button :shops %> shop</label>
		<dt><%= shop['name'] %></dt>
		<dt><%= image_tag(shop['image']) %></dt>
		<dd>ショップ詳細URL: <%= link_to shop['url'] %></dd>
	<% end %>
	<%= f.submit '投票' %>
<% end %>
